@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.body {
    background-color: black;
    font-family: 'VT323', monospace;
    font-size: 32px;
}

.rootContainer {
    background-color: black;
    color: white;
    margin: 8px;
    padding: 8px;
    border: 1px solid white;
    }

.buttons {
    font-family: 'VT323', monospace;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    font-size: 24px;

}