@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  background-color: black;
  color: white;
  border: 1px white solid;
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: center;
}

.login {
  text-align: center;
  font-size: 24px;
}

.btn {
  background-color: white;
  color: black;
  border-radius: 16px;
  border: 1px white solid;
}

.logoff {
  display: flex;
  justify-content: flex-end;
}